.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 35;
  background: rgba(255, 255, 255, 0.8);
  display: none;

  &--show {
    display: block;
  }
}

.add-to-basket {
  border: solid 1px #c6c6c6;
  margin: 0 auto;
  margin-bottom: 100px;
  position: fixed;
  top: 50%;
  background: #ffffff;
  margin-top: -167px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  width: 100%;
  z-index: 50;
  display: none;

  &--show {
    display: block;
  }
}

.add-to-basket__title {
  @include font-config(25px, bold, 30px);
  text-align: center;
  text-transform: uppercase;
  width: 150px;
  margin: 30px auto 12px auto;
}

.add-to-basket__text {
  @include font-config(15px, normal, 30px, #444444);
  text-align: center;
  display: block;
  margin-bottom: 23px;
}

.add-to-basket__form {
  width: 260px;
  margin: 0 auto;
}

.select-size__add {
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .add-to-basket {
    width: 566px;
    padding-top: 4px;
    left: 50%;
    margin-left: -282px;
    margin-top: -166px;
  }

  .add-to-basket__title {
    @include font-config(30px, bold, 57px);
    margin-bottom: 13px;
    width: auto;
  }

  .add-to-basket__text {
    @include font-config(17px, normal, 30px, #444444);
    margin-bottom: 21px;
  }

  .add-to-basket__form {
    width: auto;
  }
}
