.advantages {
  margin-bottom: 60px;
}

.advantages__wrapper {
  margin: 0 auto;
  width: 260px;
}

.advantages__title {
  @include font-config(24px, bold, 30px, #000000);
}

.advantages__item {
  padding-top: 35px;

  &--flower {
    background: url("../../img/icon-feature-flower.svg") no-repeat 0 top;
  }

  &--money {
    background: url("../../img/icon-feature-money.svg") no-repeat 0 top;
  }

  &--heart {
    background: url("../../img/icon-feature-heart.svg") no-repeat 0 top;
  }

  &--ball {
    background: url("../../img/icon-feature-ball.svg") no-repeat 0 top;
  }

  &--rocket {
    background: url("../../img/icon-feature-rocket.svg") no-repeat 0 top;
  }

  &--gift {
    background: url("../../img/icon-feature-gift.svg") no-repeat 0 top;
  }
}

.advantages__text {
  @include font-config(17px, bold, 20px, #000000);
}

.advantages__list {
  @include listreset;
}


@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: 668px;
  }

  .advantages__title {
    @include font-config(43px, bold, 50px);
  }

  .advantages__text {
    @include font-config(20px, bold, 22px);
    width: 295px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 334px;
  }

  .advantages__item--flower {
    order: 0;
  }

  .advantages__item--money {
    order: 2;
  }

  .advantages__item--heart {
    order: 4;
  }

  .advantages__item--ball {
    order: 1;
  }

  .advantages__item--rocket {
    order: 3;
  }

  .advantages__item--gift {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 700px;
  }

  .advantages__title {
    @include font-config(53px, bold, 57px);
  }

  .advantages__text {
    @include font-config(20px, bold, 22px);
    width: 295px;
  }
}
