body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


// body {
//   background: url("../../img/pp/mishka-index-mobile.jpg") 50% 0 no-repeat;
//   opacity: 0.5;
// }

// @media (min-width: $tablet-width) {
//   body {
//     background: url("../../img/pp/mishka-index-tablet.jpg") 50% 0 no-repeat;
//   }
// }

// @media (min-width: $desktop-width) {
//   body {
//     background: url("../../img/pp/mishka-index-desktop.jpg") 50% 0 no-repeat;
//   }
// }
