.button {
  @include font-config(17px, bold, #444444);
  text-decoration: none;
  display: block;
  border: solid 2px #444444;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  text-transform: uppercase;
}
