.catalog__title {
  @include font-config(27px, bold, 30px);
  background-color: #f1f1f1;
  text-align: center;
  padding: 71px 0 76px 0;
  margin: 0;
  margin-bottom: 30px;
  // box-shadow: 0 0 0 3px red;
}

.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog-list {
  @include listreset;
  margin-bottom: 31px;
  flex-wrap: wrap;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -42px;
  }

  .catalog__wrapper {
    width: 668px;
    margin-bottom: 51px;
  }

  .catalog__title {
    @include font-config(43px, bold, 57px);
    padding: 90px 0 90px 0;
    position: relative;
    margin-bottom: 67px;


    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 22px;
      background: url("../img/bg-zigzag-fill.svg");
      background-size: 770px;
      left: 0;
      bottom: 0;
      z-index: 10;
    }
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    @include font-config(53px, bold, 57px);
    padding-top: 94px;
    padding-bottom: 110px;
    margin-bottom: 122px;

    &::after {
      height: 22px;
      background-size: 1150px;
      z-index: 10;
    }
  }

  .catalog__wrapper {
    width: 1050px;
    margin-bottom: 7px;
  }

  .catalog-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 0;
    margin-right: -50px;
  }

  .catalog__item {
    margin-right: 50px;
  }
}
