.contacts__wrapper {
  @include pad-left-right;
  width: 320px;
  margin: 0 auto;
}

.contacts__title {
  @include font-config(18px, 30px, bold);
  @include pad-left-right;
  width: 320px;
  margin: 0 auto;
}

.contacts__field {
  @include font-config(15px, normal, 30px, #444444);
}

.contacts__value {
  @include font-config(15px, normal, 30px, #444444);
}

.contacts__map-wrapper {
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.contacts__map {
  width: 100%;
  margin-top: -90px;
}
