.copyright {
  width: 185px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  padding-top: 14px;

  &:hover .copyright__logo-image,
  &:focus .copyright__logo-image {
    fill: #46c1ae;
  }

  &:active .copyright__logo-image {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font-config(19px, bold, 18px);
  display: inline-block;
}

.copyright__logo {
  padding-top: 10px;
  // outline: none;
}

.copyright__logo-image {
  width: 27px;
  height: 34px;
  fill: #63d1bb;

}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    width: 210px;
    justify-content: flex-end;
  }

  .copyright__logo {
    padding: 0;
    margin-left: 30px;
    margin-top: 6px;

    &:focus .copyright__logo-image {
      fill: #46c1ae;
    }
  }
}
