.copyright {
  width: 185px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  @include font-config(19px, bold, 18px);
  display: inline-block;
}

.copyright__logo {
  padding-top: 10px;
}
