.copyright {
  width: 185px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  @include font-config(19px, bold, 18px);
  display: inline-block;
}

.copyright__logo {
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    width: 210px;
  }
}
