@media (min-width: $desktop-width) {
  .hot-list {
    @include listreset;
    display: flex;
  }
}

.hot-list__link {
  @include font-config(15px, bold, 24px);
  margin-right: 60px;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.hot-list__item {
  padding-top: 18px;
}
