.main-nav {
  position: relative;
}

.main-nav__wrapper {
  // width: 260px;
  background-color: #ffffff;
  // background: red;
}

.main-nav__toggle {
  border: none;
  font-size: 0;
  width: 20px;
  height: 14px;
  background: url("../../img/icon-menu-open.svg") no-repeat 50% 50%;
  position: absolute;
  top: -50px;
  right: 30px;

  &:active {
    background: url("../../img/icon-menu-close.svg") no-repeat 50% 50%;
  }
}


.main-nav__list {
  @include listreset;
}

.site-list__item {
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.main-nav__link {
  @include font-config(17px, bold, 24px);
  width: 260px;
  margin: 0 auto;
  text-decoration: none;
  padding-top: 29px;
  padding-bottom: 26px;
  display: block;
  padding-left: 46px;
  position: relative;
  box-shadow: 0 0 0 3px blue;
  // box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    order: 3;
  }

  .main-nav__list {
    display: flex;
  }
}
