.main-nav {
  position: relative;
}

.main-nav__wrapper {
  background-color: #ffffff;
}

.main-nav__toggle {
  border: none;
  font-size: 0;
  width: 20px;
  height: 14px;
  background: url("../../img/icon-menu-open.svg") no-repeat 50% 50%;
  position: absolute;
  top: -50px;
  right: 30px;

  &:active {
    background: url("../../img/icon-menu-close.svg") no-repeat 50% 50%;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
