.main-nav {
  position: relative;
}

.main-nav__toggle {
  border: none;
  font-size: 0;
  width: 20px;
  height: 14px;
  background: url("../../img/icon-menu-open.svg") no-repeat 50% 50%;
  position: absolute;
  top: -50px;
  right: 30px;
}

.main-nav__list {
  @include listreset;
}

.main-nav__link {
  @include font-config(17px, bold, 24px);
  text-decoration: none;
  padding-top: 29px;
  padding-bottom: 26px;
  display: block;
  padding-left: 76px;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}
