.making-info {
  // @include pad-left-right;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.making-info__wrapper {
  border: 1px solid #ededed;
}

.making-info__title {
  @include font-config(17px, bold, 24px);
  margin-left: 91px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: url("../../img/icon-video.svg") no-repeat center;
    top: 10px;
    left: -65px;
  }
}

.making-info__video-frame {
  background: url("../../img/video-mobile@1x.jpg") no-repeat center;
  width: 260px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.making-info__text {
  padding: 0 34px;
  margin-bottom: 25px;
}

.making-info__description {
  @include font-config(13px, normal, 22px, #444444);
}

.making-info__to-order {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .making-info {
    width: 668px;
  }

  .making-info__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .making-info__video-frame {
    width: 668px;
    height: 455px;
    box-shadow: 0 0 0 3px red;
    order: 0;
  }

  .making-info__title {
    order: 1;
  }

  .making-info__text {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .making-info {
    width: 1050px;
    height: 455px;
  }

  .making-info__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1050px;
    height: 455px;
    box-shadow: 0 0 0 3px blue;
  }

  .making-info__video-frame {
    width: 600px;
    height: 455px;
    order: 0;
    // flex-shrink: 0;
  }

  .making-info__title {
    order: 1;
    width: 200px;
    box-shadow: 0 0 0 3px red;
  }

  .making-info__text {
    width: 200px;
    box-shadow: 0 0 0 3px red;
  }
}
