.order-page__title {
  @include font-config(27px, bold, 30px);
  background-color: #f1f1f1;
  text-align: center;
  padding: 75px 0;
  margin: 0;
  margin-bottom: 30px;
}

.order-page__wrapper {
  width: 260px;
  margin: 0 auto;
}

.order-page__text {
  @include font-config(13px, normal, 24px, #444444);
}

@media (min-width: $tablet-width) {
  .order-page__wrapper {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .order-page__wrapper {
    width: $desktop-width;
  }
}
