.order-page__title {
  @include font-config(27px, bold, 30px);
  background-color: #f1f1f1;
  text-align: center;
  padding: 70px 0 76px 0;
  margin: 0;
  margin-bottom: 23px;
}

.container {
  width: 260px;
  margin: 0 auto;
  // box-shadow: 0 0 0 3px green;
}

.order-page__text {
  @include font-config(13px, normal, 24px, #444444);
  display: block;
  margin: 0 auto;
  width: 260px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .order-page {
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -42px;
  }

  .order-page__title {
    @include font-config(43px, bold, 50px);
    padding: 93px 0 95px 0;
    position: relative;
    margin-bottom: 60px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 22px;
      background: url("../../img/bg-zigzag-fill.svg");
      // background: red;
      background-size: 770px;
      left: 0;
      bottom: 0;
      z-index: 10;
    }
  }

  .container {
    width: $tablet-width;
    margin: 0 auto;
    // box-shadow: 0 0 0 3px red;
  }

  .order-page__text {
    @include font-config(17px, normal, 30px, #444444);
    width: $tablet-width;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    margin: 0 auto;
    // box-shadow: 0 0 0 3px red;
  }

  .order-page__title {
    @include font-config(53px, bold, 57px);
    padding-bottom: 110px;
    margin-bottom: 115px;

    &::after {
      height: 22px;
      background-size: 1150px;
      z-index: 10;
    }
  }

  .order-page__text {
    width: 700px;
    margin-bottom: 8px;
  }
}
