.page-header {
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.page-header__logo-image {
  margin: 22px 0;
  // margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    // box-shadow: 0 0 0 3px red;
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0 3px red;
  }

  .page-header__logo {
    margin-right: auto;
  }
}
