.page-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  display: block;
  text-align: center;
  order: 0;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  border: none;
  font-size: 0;
  width: 20px;
  padding: 25px;
  height: 14px;
  background: url("../img/icon-menu-open.svg") no-repeat 50% 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 5;
  outline: none;
  display: none;

  &--show {
    display: block;
  }

  &--close {
    background: url("../img/icon-menu-close.svg") no-repeat 50% 50%;
  }
}

.page-header__main-nav-wrapper {
  order: 1;
  z-index: 5;

  &--close-menu {
    display: none;
  }

  &--show-menu {
    display: block;
  }
}

.page-header__user-list-wrapper {
  order: 2;

  &--close-menu {
    display: none;
  }

  &--show-menu {
    display: block;
  }
}

.page-header__hot-list-wrapper {
  display: none;
  z-index: 5;
  margin: 0;
}

.page-header__logo-image {
  margin: 20px 0;
  margin-top: 22px;
  margin-bottom: 18px;
  pointer-events: none;
  display: inline-block;
}

.page-header__note-wrapper {
  display: none;
  z-index: 5;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-width: 668px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #f9f9f9;
    justify-content: space-between;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__user-list {
    order: 1;
    display: block;
  }

  .page-header__main-nav {
    order: 2;
    display: block;
  }

  .page-header__note-wrapper {
    order: 3;
    display: flex;
    width: 231px;
    flex-grow: 1;
  }

  .page-header__note {
    @include font-config(15px, normal, 24px, #444444);
    margin: 0;
    margin-top: 17px;
    margin-right: auto;
  }

  .page-header__logo-wrapper {
    width: 112px;
    display: flex;
    min-width: 112px;
    flex-grow: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }

  .page-header__logo {
    width: 112px;
    box-shadow: none;
    margin-left: auto;
    display: flex;
  }

  .page-header__logo-image {
    display: inline-block;
    width: 112px;
    height: 46px;
    margin: 21px 0 16px 0;
    margin-right: auto;
  }

  .page-header__user-list-wrapper {
    width: 556px;
    background: #ffffff;
    min-width: 556px;
    flex-grow: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-header__main-nav-wrapper {
    order: 3;
    width: 437px;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: auto;
    max-width: 1850px;
    min-width: 1050px;
    background: #f9f9f9;
  }

  .page-header__main-nav-wrapper {
    order: 0;
    width: 450px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border: none;
  }

  .page-header__logo-wrapper {
    order: 0;
    width: 149px;
    flex-grow: 0;
    border: none;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-header__logo {
    width: 149px;
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .page-header__user-list-wrapper {
    width: 451px;
    min-width: auto;
    order: 1;
    border: none;
  }

  .page-header__hot-list-wrapper {
    display: block;
    order: 3;
    width: 819px;
    flex-grow: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-header__note-wrapper {
    order: 4;
    text-align: right;
    padding-top: 0;
    margin-left: -2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
    margin: 0;
  }
}
