.page-footer {
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  @include pad-left-right;
  width: 320px;
  margin: 0 auto;
}

.social {
  @include listreset;
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
}

.social__link {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}
