.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    width: 668px;
    justify-content: space-between;
    height: 143px;
    align-items: center;
  }

  .page-footer__logo {
    display: inline-block;
    width: 210px;
    outline: none;

    &:hover,
    &:focus {
      fill: #46c1ae;
      outline: none;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__logo-image {
    width: 120px;
    height: 34px;
    pointer-events: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
