.product-card {
  background: url("../../img/bg-zigzag-line.svg") repeat-x 0 bottom;
  background-size: 350px 23px;
  padding-bottom: 55px;
}

.product-card__wrapper {
  @include pad-left-right;
  margin: 0 auto;
  width: 320px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
}

.product-card__title {
  @include font-config(25px, bold, 30px);
  margin-bottom: 5px;
}

.product-card__feature {
  @include font-config(17px, bold, 20px, #63d1bb);
  display: block;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.product-card__description {
  @include font-config(15px, normal, 24px, #444444);
  margin: 0;
  margin-bottom: 20px;
}

.product-card__properties {
  @include font-config(15px, normal, 35px, #444444);
  border-collapse: collapse;
  width: 100%;


  tr {
    box-shadow: 0 1px 0 0 #ececec;
  }
}

.product-card__field {
  width: 96px;
  padding: 2px 0;
}

.product-card__image {
  margin: 0;
  margin-bottom: 120px;
}

.product-card__price {
  @include font-config(17px, bold, 24px, #444444);
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: $tablet-width) {
  .product-card__properties {
    margin-bottom: 370px;
  }

  .product-card__image {
    margin-top: -442px;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    background: url("../../img/bg-zigzag-line.svg") repeat-x 0 bottom;
    background-size: 750px 30px;
    padding-bottom: 75px;
  }

  .product-card__wrapper {
    width: 668px;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-items: stretch;
    padding: 0;
    box-shadow: 0 0 0 3px blue;
  }

  .product-title-wrapper {
    // width: 668px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
    width: 100%;
    flex-grow: 1;
    box-shadow: 0 0 0 3px red;
  }

  .product-card__title {
    @include font-config(43px, bold, 50px);
    margin: 0;
  }

  .columns-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card__feature {
    @include font-config(17px, bold, 17px, #63d1bb);
    margin: 0;
    margin-top: 11px;
    width: 125px;
    text-align: center;
  }

  .product-card__info-wrapper {
    width: 334px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .product-card__description {
    @include font-config(17px, normal, 30px, #444444);
    margin-top: -8px;
    width: 300px;
    margin-bottom: 35px;
  }

  .product-card__properties {
    width: 291px;
  }

  .product-card__field {
    padding: 2px 0 3px 0;
  }

  .product-card__image {
    background: green;
    width: 334px;
    height: 404px;
    margin: 0;
  }

  .product-card__button-wrapper {
    width: 292px;
    margin-top: auto;
  }

  .product-card__price {
    @include font-config(20px, bold, 24px, #444444);
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__wrapper {
    width: 1050px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .product-title-wrapper {
    // width: 700px;
    // display: flex;
    z-index: 5;
    margin: 0;
    width: 1050px;
    position: absolute;
  }

  .product-card__title {
    width: auto;
    order: 2;
  }

  .columns-wrapper {
    // margin-left: 175px;
    // margin-top: -100px;
  }

  .product-card__info-wrapper {
    width: 350px;
    box-shadow: 0 0 0 3px red;
    margin-left: 175px;
  }

  .product-card__image {
    width: 525px;
    height: 636px;
    margin: 0;
  }
}
