.product {
  border: 1px solid #ededed;
}

.product__wrapper {
  padding: 0 27px;
  position: relative;
}

.product__image img {
  width: auto;
  display: block;
  margin-bottom: 26px;
}

.product__title {
  @include font-config(17px, bold, 24px);
  width: 204px;
  margin-bottom: 05px;
}

.product__specs {
  @include font-config(13px, normal, 30px, #444444);
  display: block;
  position: relative;
  margin-bottom: 40px;

  &::after {
    position: absolute;
    content: "";
    width: 204px;
    height: 1px;
    background: #ececec;
    top: 50px;
    left: 0;
  }
}

.product__price {
  @include font-config(15px, bold, 24px, #444444);
}

.product__order-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  // box-shadow: 0 0 0 3px red;
}

@media (min-width: $tablet-width) {
  .product {
    // box-shadow: 0 0 0 3px blue;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .product__image {
    width: 334px;
    height: 334px;
    box-shadow: 0 0 0 3px red;
  }

  .product__wrapper {
    width: 334px;
    display: flex;
    flex-direction: column;
  }

  .product__order-wrapper {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 316px;
    flex-direction: column;
    // background: red;
  }

  .product__image {
    width: 316px;
  }

  .product__wrapper {
    width: 316px;
  }
}
