.promo__wrapper {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat center top;
  padding-top: 76px;
  // box-shadow: 0 0 0 3px red;
}

.promo__title {
  @include font-config(27px, bold, 30px);
  margin: 0 auto;
  text-align: center;
  width: 260px;
  margin-bottom: 110px;
}

.promo__list {
  @include listreset;
  display: flex;
  flex-direction: column;
}

.promo__link {
  @include pad-left-right;
  @include font-config(19px, bold, 24px, #ffffff);
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;

  &--things {
    background-color: #63d1bb;
  }

  &--toys {
    background: #56c3b2;
  }
}

.promo__title-wrapper {
  width: 260px;
  margin: 0 auto;
}

.promo__catalog-title {
  @include font-config(19px, bold, 24px, #ffffff);
  display: block;
  width: 120px;
}


@media (min-width: $tablet-width) {
  .promo__wrapper {
    background: url("../../img/hero-tablet@1x.jpg") no-repeat center top;
    padding-top: 76px;
  }

  .promo__title {
    @include font-config(43px, bold, 50px);
    width: 500px;
    margin-bottom: 371px;
  }

  .promo__list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    // box-shadow: 0 0 0 3px blue;
    width: 668px;
  }

  .promo__link {
    // width: 334px;
    flex-grow: 1;
  }
}
