.promo__wrapper {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat center;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.promo__title {
  @include font-config(27px, bold, 30px);
  text-align: center;
}

.promo__list {
  @include listreset;
  display: flex;
  flex-direction: column;
}

.promo__link-title {
  @include font-config(19px, bold, 24px, #ffffff);
  text-decoration: none;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  &--things {
    background: #63d1bb;
  }

  &--toys {
    background: #56c3b2;
  }
}
