.reviews__title {
  @include font-config(25px, bold, 30px);
}

.reviews__text {
  @include font-config(15px, normal, 30px, #444444);
}

.reviews__author-name {
  @include font-config(17px, bold, 24px, #444444);
  font-style: normal;
}

.reviews__author-link {
  @include font-config(17px, normal, 30px, #444444);
  font-style: normal;
}

.reviews__buttons {
  display: flex;
}

.reviews__arrow {
  border: solid 1px #ececec;
  font-size: 0;
  background-color: #ffffff;
  height: 52px;
  // box-sizing: border-box;
  flex-basis: 50%;

  &--left {
    background: url("../../img/icon-left-arrow.svg") no-repeat 50% 50%;
  }

  &--right {
    background: url("../../img/icon-right-arrow.svg") no-repeat 50% 50%;
  }
}
