.select-size__list {
  @include listreset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.select-size__item {
  flex-basis: 31%;
}

.select-size__title {
  @include font-config(17px, bold, 48px, #444444);
  text-align: center;
  display: block;
  cursor: pointer;
  border: 2px solid rgba(68, 68, 68, 0.1);

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  .select-size__input:checked + & {
    border: solid 2px #63d1bb;
  }
}

.select-size__add {
  color: #ffffff;
  background-color: #63d1bb;
  border: solid 2px #63d1bb;
  cursor: pointer;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .select-size__list {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 31px;
  }

  .select-size__item {
    flex-basis: 112px;
  }

  .select-size__add {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 46px;
  }
}
