.social {
  @include listreset;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
}

.social__link {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}