.user-list {
  @include listreset;
}

.user-list__item {
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  &:hover .user-list__img {
    fill: rgba(99, 209, 187, 1);
  }

  &:active .user-list__img {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.user-list__link:focus path {
  fill: rgba(99, 209, 187, 1);
}

.user-list__img {
  position: absolute;
  left: 1px;
  top: 32px;
  display: inline-block;
  pointer-events: none;
  fill: rgba(35, 31, 32, 0.2);
}

.user-list__link {
  @include font-config(17px, bold, 24px);
  width: 260px;
  margin: 0 auto;
  text-decoration: none;
  padding-top: 29px;
  padding-bottom: 26px;
  display: block;
  padding-left: 46px;
  position: relative;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
    // background: red;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:active path {
    fill: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .user-list__item {
    box-shadow: -1px 0 0 #ececec;
  }

  .user-list__link {
    padding: 30px 0;
    width: auto;
    text-align: right;
    padding-left: 82px;

    &--search {
      @include font-config(0, bold, 24px);
      width: 82px;
    }
  }

  .user-list__img {
    left: 30px;
    top: 36px;
  }
}
